
h1{
text-transform:uppercase;    
font-family: 'Caveat', cursive;

 color: #ffffff;


}
body{
    background-color: black;
    color: #ffffff;
   
   
    
}
 .motivation-img{
    border:5px solid white;
    width:100% ;
   
}
.super
{
    width:50%;
    margin-left: 25%;
    margin-left:25% ;
    text-align: center;
}